.section {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  color: hsla(318, 0.00%, 20.00%, 1.00);
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.three-col {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
}